.calc-inp{
	width : 224px;
	height : 3em;
	font-size : 1em;
	color : white;
	background-color: black;
	padding : 0.5em;
	margin: auto;
	display : flex;
	flex : 1;
	justify-content: flex-end;
	align-items: center;
}