.App-header{
	font-size: 4em;
	width :  50%;
	margin : auto;
	font-family: sans-serif;
	margin : auto;
	text-align: center;
	color : orange;
}

.htDiv{
	height : 100px;
}

.calc-row{
	width : 50%;
	margin : auto;
	text-align: center;
	align-content: center;
}

